{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profiles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>User_id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>Height</th>
                <th>Gen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td><a href="{{ path('profile_show', { 'id': profile.id }) }}">{{ profile.id }}</a></td>
                <td>{{ profile.userid }}</td>
                <td>{{ profile.firstName }}</td>
                <td>{{ profile.lastName }}</td>
                <td>{{ profile.age }}</td>
                <td>{{ profile.height }}</td>
                <td>{{ profile.gen }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('profile_show', { 'id': profile.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('profile_edit', { 'id': profile.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profile_change') }}">Create a new profile</a>
        </li>
    </ul>
{% endblock %}
