{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('bundles/app/css/calculate-cal.css') }}" rel="stylesheet" />


{% endblock %}

{% block body %}
    <div id="content-block">
        <div class="container">
            <div class="row">
                <h1 class="title">Macronutrientii necesari pentru {{ obiectiv }}</h1>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div id="proteina" class="prograss-bar-container"></div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div id="carbo" class="prograss-bar-container"></div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div id="grasimi" class="prograss-bar-container"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="info"><strong> Current Kcals: </strong> <span> {{ result['kcal_mentinere'] }}</span></p>
                <p class="info"><strong> Necessary Kcals: </strong> <span> {{ result['kcal_obiectiv'] }}</span></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}


    <script src="bundles/app/js/jquery.circliful.js"></script>


    <script type="text/javascript">
        jQuery(function ($) {

            chart("#proteina", {{ result['proteina'] * 100 / result['total']}}, "#1E98E4", {{ result['proteina'] }} + ' Proteine');
            chart("#carbo", {{ result['carbo'] * 100 / result['total'] }}, "yellow",{{ result['carbo'] }} +  ' Carbo', {{ result['total'] }});
            chart("#grasimi", {{ result['grasimi'] * 100 / result['total'] }}, "red",{{ result['grasimi'] }} + ' Grasimi', {{ result['total'] }});


            function chart(selector, percent, color, text) {
                $(selector).circliful({
                    animation: 1,
                    animationStep: 5,
                    foregroundBorderWidth: 20,
                    backgroundBorderWidth: 25,
                    backgroundColor: '#eee',
                    progressColor: {1: color},
                    percent: percent,
                    showPercent: 0,
                    textSize: 15,
                    text: text,
                    textStyle: 'font-size: 14px;',
                    textColor: '#FFFFFF',
                });
            }

        });
    </script>
{% endblock %}