{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/calculate-cal.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content-block">
        <div class="container">
            <div class="row">
                <h1 class="title">Macronutrientii necesari pentru {{ obiectiv }}</h1>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div id="proteina" class="prograss-bar-container"></div>
                    </div>
                    <div class="row prograss-bar-text">
                        <span> {{ result['proteina'] }}gr Proteine</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div id="carbo" class="prograss-bar-container"></div>
                    </div>
                    <div class="row prograss-bar-text">
                        <span> {{ result['carbo'] }}gr Carbohidrati</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div id="grasimi" class="prograss-bar-container"></div>
                    </div>
                    <div class="row prograss-bar-text">
                        <span> {{ result['grasimi'] }}gr Grasimi</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <p class="info"><strong> Current Kcals: </strong> <span> {{ result['kcal_mentinere'] }}</span></p>
                <p class="info"><strong> Necessary Kcals: </strong> <span> {{ result['kcal_obiectiv'] }}</span></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/circle-progress.js') }}"></script>

    <script>
        $('#proteina').circleProgress({
            value: {{ result['proteina'] * 100 / result['total'] /100 }},
            size: 140,
            fill: {
                gradient: ["#0033cc", "#3399ff"]
            }
        });
        $('#carbo').circleProgress({
            value: {{ result['carbo'] * 100 / result['total'] /100 }},
            size: 140,
            fill: {
                gradient: ["yellow", "orange"]
            }
        });
        $('#grasimi').circleProgress({
            value: {{ result['grasimi'] * 100 / result['total'] /100 }},
            size: 140,
            fill: {
                gradient: ["red", "orange"]
            }
        });
    </script>

{% endblock %}