<nav class="navbar navbar-expand-lg navbar-light bg-light" id="base-menu">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('calculate_page') }}">Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About me</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                {% if app.user %}
                    <a class="nav-link" href="{{ path('profile_show') }}">
                        {{app.user.username}}
                    </a>
                {% else %}
                    <a class="nav-link" href="#">Anonimous</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                   <a  class="nav-link"  href="{{ path('fos_user_security_logout') }}">
                        Logout <span class="glyphicon glyphicon-log-out"></span>
                   </a>
               {% else %}
                   <a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
               {% endif %}
            </li>
        </ul>
    </div>
</nav>
