{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/login.css') }}" rel="stylesheet" />
{% endblock %}

{% block fos_user_content %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container">
        <div class="card card-login bg-dark">
        <div class="card-header mx-auto bg-dark">
                <img id="profile-img" class="profile-img-card" src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png" />
            </div>
            <div class="card-body">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
                        </div>
                        <input type="text" id="username" name="_username" class="form-control" placeholder="UserName or Email address" value="{{ last_username }}" required="required"  autofocus>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="glyphicon glyphicon-asterisk"></i></span>
                        </div>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" type="password" id="password" name="_password" required>
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <button class="btn btn-outline-danger float-right login_btn" type="submit" id="_submit" name="_submit">Sign in</button>
                    </div>

                </form>
            </div>
        </div>
    </div><!-- /container -->

{% endblock fos_user_content %}
