

<div class="row">

    
    <!-- Begin Profile Image Section -->
    <div class="coll-md-3">
        <div id="userImage">
            <img src="bundles/app/img/default_profile.jpg">
        </div>

    </div>
    <!-- End Profile Image Section -->

    <!-- Begin Profile Information Section -->
    <div class="header_2">

        <h1 id="name"><span itemprop="name">{{ profile.firstName }} {{ profile.lastName }}</span></h1>

        <ul class="info_2">
            <li class="heart"><span class="glyphicon glyphicon-gift"></span> <span itemprop="telephone">{% if profile.birtday %}{{ profile.birtday|date('Y-m-d') }}{% endif %}</span></li>
            <li class="heart"><span class="glyphicon glyphicon-heart-empty"></span> <span itemprop="telephone">{{ profile.age }}</span></li>
            <li class="height"><span class="glyphicon glyphicon-resize-vertical"></span>{{ profile.height }}</li>
            <li class="sex"><span class="glyphicon glyphicon-leaf"></span> Sex: {{ profile.gen }}</li>
            <li class="edit"><span class="glyphicon glyphicon-edit"></span> <a href="{{ path('profile_change') }}">Edit</a></li>

        </ul>

    </div>
    <!-- End Profile Information Section -->

</div>



